
.header{
    background-color: black;
    position: relative;
    top: 0;
    left: 0;
    z-index: -100;
    color: white;
    text-align: center;
    
}
.warning{
    font-size: x-large;
    color: red;
}
.warning-container{
    display: flex;
    justify-content: center;
}
